# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
venv/
env/

# Environment variables
.env
.env.*
.env.local

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temp / uploads
tmp/
uploads/